<div class="halftitle">

<p class="halftitle">
Programming in D
</p>

<p class="kapak_author">
Ali Çehreli
</p>

<div id="kitap_kapak_resim">
    <img class="kitap_kapak_resim" src="../d/Tennessee_Valley.jpg"/>
</div>

</div>
