<div class="title">

<p class="halftitle">
D Programlama Dili
</p>

<p>
Ali Çehreli
</p>

<br/>

<p>
Birinci Basım
</p>

<br/>

<div class="editors">
<p>
İngilizce editör: Luís&nbsp;Marques
</p>
</div>

</div>
