h4::before {
    content: normal;
}

h5::before {
    content: "◼ ";
}

img.kitap_kapak_resim {
    width: 50%;
}

pre.c_code
{
    background-color: #ffffff;
}

pre.shell, pre.shell_small
{
    background-color: #ffffff;
}

pre.d_code {
    background-color: #ffffff;
}

h4 > code {
    color:white;
    background-color:black;
}
